<h1>
	Liste des restaurants :
</h1>


{% for restaurant in restaurants %}

	<p>{{restaurant}}</p>

{% endfor %}


<h1>
	Ajout d'un nouveau restaurant :
</h1>

{% if form is defined %}

	{{ form_start(form)}}

	<input type="submit" class="button button-green" value="Valider">

	{{ form_end(form) }}
{% endif %}
